name: CI

on:
  push:
    branches: [main, release**, feature**]
  pull_request:
    branches: ['**']
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  build-and-test:
    runs-on: macos-14
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Show workspace contents
        run: |
          pwd
          ls -la

      - name: Select Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Resolve dependencies
        run: swift package resolve --package-path ${{ github.workspace }}

      - name: Build (iOS)
        run: |
          xcodebuild \
            -scheme concordium-id-swift-sdk \
            -destination 'generic/platform=iOS Simulator' \
            -configuration Debug \
            clean build

      - name: Lint (SwiftLint via SPM plugin)
        run: |
          swift build --build-tests --package-path ${{ github.workspace }}
